// scss全局变量
$color: red;
// 菜单宽度
$base-menu-width: 260px;
// 菜单背景色
$base-menu-background: #001529;
// 顶部导航的高度
$base-tabbar-height: 60px;
// 顶部导航栏背景色
$base-tabbar-background: white;
// 内容展示区域背景色
$base-appmain-background: #eeeeee;
// 菜单logo的高度
$base-menu-logo-height: 60px;
// 菜单logo内部文字大小
$base-logo-title-fontSize: 20px;
